<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let filme of lista_filmes">
    <ion-item>
      <ion-avatar item-start> 
        <img src="assets/images/avatar.png" alt="{{ filme.title }}">
      </ion-avatar>
      <ion-label class="margin-left">
        <h2 class="title-card">{{ filme.title }}</h2>
        <p class="date-card">{{ filme.release_date }}</p>
      </ion-label>
      
    </ion-item>

    <img src="https://www.themoviedb.org/t/p/w500/{{ filme.backdrop_path }}" />
    
    <ion-card-content>
      {{ filme.overview }}
    </ion-card-content>

    <ion-item > 
      <ion-button (click)="showMovieClick(filme.id)" color="secondary" >Ver +</ion-button>
    </ion-item>
  </ion-card>




</ion-content>
