<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar item-start> 
        <img src="assets/images/avatar.png" alt="{{ user_name }}">
      </ion-avatar>
      <ion-label class="margin-left">
        <h2 class="title-card">{{ user_name }}</h2>
        <p class="date-card">22 de Jan 2022</p>
      </ion-label>
      
    </ion-item>
    <img src="assets/images/madison.jpg" />
    
    <ion-card-content>
      <p>E não somente isto, mas também nos gloriamos nas tribulações; sabendo que a tribulação produz a paciência,</p>
      <p>E a paciência a experiência, e a experiência a esperança.</p>
      <p>E a esperança não traz confusão, porquanto o amor de Deus está derramado em nossos corações pelo Espírito Santo que nos foi dado.</p>

    <p><strong>Romanos 5:3-5</strong> </p>
    </ion-card-content>
  </ion-card>




</ion-content>
