<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{filme.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://www.themoviedb.org/t/p/w500/{{ filme.backdrop_path }}" />
  <ion-item>
    <img src="https://www.themoviedb.org/t/p/w200/{{ filme.poster_path }}" width="100" height="150" />
    <h2>{{filme.vote_average}}</h2>
    <br/>
    <p>{{filme.release_date}}</p>
  </ion-item>

  <p>{{filme.overview}}</p>
</ion-content>
